<div class="book-card">
  <div class="book-card-header">
    <img [src]="book.image" alt="Book title" />
    <h3>{{ book.title }}</h3>
    <p>by {{ book.author }}</p>
  </div>

  <hr />
  <div class="book-card-actions">
    <div class="book-card-btns">
      <a [routerLink]="['/details', book._id]" class="btn btn-indigo">
        ℹ️ Details
      </a>

      <ng-container *ngIf="isOwner; else notOwner">
        <div class="owner-buttons">
          <button [routerLink]="['/edit', book._id]" class="btn btn-edit" (click)="editBook()">
            ✏️ Edit
          </button>
          <button class="btn btn-delete" (click)="deleteBook()">
            🗑️ Delete
          </button>
        </div>

      </ng-container>

      <ng-template #notOwner>
        <!-- <button class="btn btn-favorite" (click)="addToFavorites()">
          ❤️ Add to Favorites
        </button> -->
        <button class="btn" [ngClass]="{ 'btn-favorite': !isFavorite, 'btn-favorite-added': isFavorite }"
          (click)="addToFavorites()">
          {{ isFavorite ? '💔 Remove from Favorites' : '❤️ Add to Favorites' }}
        </button>

      </ng-template>
    </div>
  </div>
</div>