.book-card {
  display: flex;
  flex-direction: column;
  background: #f9fafb;
  box-shadow: 0 4px 8px rgba(20, 32, 59, 0.3);
  border-radius: 10px;
  padding: 1rem;
  width: 330px;
  min-height: 95%;
  margin: 1rem auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(20, 32, 59, 0.4);
  cursor: pointer;
}

.book-card-header {
  text-align: center;
}

.book-card-header img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.book-card-header h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.book-card-header p {
  color: #14203b;
  font-size: 0.95rem;
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid #d1d5db;
  margin: 1rem auto;
  width: 75%;
}

.book-card-actions {
  display: flex;
  justify-content: center;
  /* background: #15803d; */
}

.book-card-actions {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.book-card-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
}

.owner-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease, background 0.2s ease;
  text-align: center;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-indigo {
  background: #5f6c7f;
}

.btn-indigo:hover {
  background: #394657;
}

.btn-favorite {
  background: #f97316;
}

.btn-favorite:hover {
  background: #ea580c;
}

.btn-favorite-added {
  background-color: #81b293;
  background: #c6d2e3;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.btn-favorite-added:hover {
  background-color: #15803d;
  cursor: pointer;
}

.btn-edit {
  background: #fbbf24;
}

.btn-edit:hover {
  background: #f59e0b;
}

.btn-delete {
  background: #ef4444;
}

.btn-delete:hover {
  background: #dc2626;
}