<div class="book-card" @fadeIn>
  <div class="book-card-header">
    <img [src]="book.profileImg" alt="Book title" />
    <h3>{{ book.title }}</h3>
    <p>by {{ book.author }}</p>
  </div>
  <hr />
  <div class="book-card-actions">
    <div class="book-card-btns">
      <a [routerLink]="['/book-details', book._id]" class="btn btn-indigo">
        ℹ️ Details
      </a>

      <ng-container *ngIf="isOwner">
        <button [routerLink]="['/edit', book._id]" class="btn btn-edit">
          ✏️ Edit
        </button>
        <button class="btn btn-delete" (click)="deleteBook()">
          🗑️ Delete
        </button>
      </ng-container>

      <ng-container *ngIf="!isOwner && currentUserId">
        <button class="btn" [ngClass]="{ 'btn-favorite': !isFavorite, 'btn-favorite-added': isFavorite }"
          (click)="addToFavorites()">
          {{ isFavorite ? '💔 Remove from Favorites' : '❤️ Add to Favorites' }}
        </button>
      </ng-container>
    </div>
  </div>

</div>