<section class="comment-section">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment-create-form">
        <h2>Add new comment</h2>
        <textarea formControlName="text" placeholder="Write your comment..." rows="4"
            class="comment-textarea"></textarea>

        <div *ngIf="commentForm.controls['text'].invalid && (commentForm.controls['text'].dirty || commentForm.controls['text'].touched)"
            class="error">
            <small *ngIf="commentForm.controls['text'].errors?.['required']">Comment text is required.</small>
            <small *ngIf="commentForm.controls['text'].errors?.['minlength']">Comment must be at least 3 characters.</small>
            <small *ngIf="commentForm.controls['text'].errors?.['maxlength']">Comment must be up to 20 characters.</small>
        </div>

        <button type="submit" [disabled]="commentForm.invalid" class="btn btn-blue">
            Submit
        </button>
    </form>
</section>