<h1 class="home-title">Welcome to my Angular Books project!</h1>

<div class="home-content-container">
  <div *ngIf="books.length >= 1; else noBooks">
    <h3 class="home-sub-title">Check out the latest books added to our collection.</h3>
    <div class="home-content">
      <app-book-details-card *ngFor="let book of books" [book]="book"
        (bookDeleted)="onBookDeleted()"></app-book-details-card>
        <!-- (bookDeleted)="onBookDeleted($event)"></app-book-details-card> -->
    </div>
  </div>

  <ng-template #noBooks>
    <p class="home-no-books-found">No books have been added yet. Stay tuned!</p>
  </ng-template>
</div>