<section class="book-details-container">
  <h1 class="section-title">Book Details</h1>

  <div class="book-card" @fadeIn>
    <div class="book-main">
      <div class="book-image">
        <img [src]="currentBook.image" alt="Book Cover" />
      </div>

      <div class="book-info">
        <h2>{{currentBook.title}}</h2>
        <span>Author: {{currentBook.author}}</span>
        <span>Genre: {{currentBook.genre}}</span>
        <span>Pages: {{currentBook.pages}}</span>
        <span>Year: {{currentBook.publicationYear}}</span>
        <span>ISBN: {{currentBook.isbn}}</span>

        <div class="book-info-actions">
          <ng-container *ngIf="isOwner; else notOwner">
            <a [routerLink]="['/edit', bookId]" class="btn btn-blue">✏️ Edit</a>
            <button (click)="deleteBook()" class="btn btn-delete">🗑️ Delete</button>
          </ng-container>
          <ng-template #notOwner>
            <!-- <button class="btn btn-favorite">❤️ Add to Favorites</button> -->
            <button class="btn" [ngClass]="{ 'btn-favorite': !isFavorite, 'btn-favorite-added': isFavorite }"
              (click)="addToFavorites()">
              {{ isFavorite ? '💔 Remove from Favorites' : '❤️ Add to Favorites' }}
            </button>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="divider"><span>Description</span></div>
    <p class="book-description">{{currentBook.description}}</p>

    <ng-container *ngIf="!isOwner">
      <div class="comment-section">
        <!-- banner for succesfully created message -->
        <!-- <div class="success-banner">Comment submitted successfully!</div> -->

        <!-- comment form -->
        <div class="comment-form">
          <textarea placeholder="Write your comment..."></textarea>
          <button class="btn btn-blue">Submit</button>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="divider"><span>Comments</span></div>

  <div class="comments-grid">
    <!-- if some comments -->
    <div class="comment">This is a comment.</div>
    <div class="comment">Another comment.</div>

    <!-- if no comments -->
    <!--
    <div class="no-comments">No comments have been added yet!</div>
    -->
  </div>
</section>