<section class="book-details-container" @fadeIn>
  <h1 class="section-title">Book Details</h1>

  <div class="book-card">
    <div class="book-main">
      <div class="book-image">
        <img [src]="currentBook.profileImg" alt="Book Cover" />
      </div>

      <div class="book-info">
        <h2>{{currentBook.title}}</h2>
        <span>Author: {{currentBook.author}}</span>
        <span>Genre: {{currentBook.genre}}</span>
        <span>Pages: {{currentBook.pages}}</span>

        <span>Year: {{currentBook.publicationYear}}</span>
        <span>ISBN: {{currentBook.isbn}}</span>
        <span>Description: {{currentBook.description}}</span>
      </div>

      <div class="book-info-actions">
        <ng-container *ngIf="isOwner; else notOwner">
          <a [routerLink]="['/edit', bookId]" class="btn btn-blue">✏️ Edit</a>
          <button (click)="deleteBook()" class="btn btn-delete">🗑️ Delete</button>
        </ng-container>
        <ng-template #notOwner>
          <ng-container *ngIf="currentUserId">
            <!-- <button class="btn btn-favorite">❤️ Add to Favorites</button> -->
            <button class="btn" [ngClass]="{ 'btn-favorite': !isFavorite, 'btn-favorite-added': isFavorite }"
              (click)="addToFavorites()">
              {{ isFavorite ? '💔 Remove from Favorites' : '❤️ Add to Favorites' }}
            </button>
            <button [routerLink]="['/create-comment', bookId]" class="btn new-comment">Add a new comment</button>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="divider"><span>Comments</span></div>

  <div class="comments-grid">
    <ng-container *ngIf="comments.length > 0; else noComments">

      <!-- if some comments -->
      <div *ngFor="let comment of comments">
        <app-comment-item [comment]="comment" (deleted)="onCommentDeleted($event)"></app-comment-item>
      </div>
    </ng-container>

    <ng-template #noComments>
      <div class="no-comments">No comments have been added yet!</div>
    </ng-template>




    <!-- if no comments -->
    <!--
    <div class="no-comments">No comments have been added yet!</div>
    -->
  </div>
</section>