<header>
  <div>
    Angular Books Project
  </div>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/catalog">Catalog</a></li>
      @if (isLoggedIn) {
        <li><a href="/add-new-book">Add new book</a></li>
        <li><a href="/preferences">Preferences</a></li>
      }
      <li><a href="/about-us">About Us</a></li>
    </ul>
  </nav>

  @if (isLoggedIn) {
    <div class="auth">
      <div class="profile-container">
        <img src="https://i.pravatar.cc/40" alt="User Avatar" class="profile-img" />
        <span>Profile</span>
      </div>
      <a href="/logout" (click)="logout()">Logout</a>
    </div>
  } @else {
    <div class="auth">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  }
</header>
