<section class="catalog-page">
  <h1>Catalog</h1>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="books-search-form">
    <select formControlName="category" required>
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="genre">Genre</option>
      <option value="publicationYear">Publication Year</option>
      <option value="pages">Number of Pages</option>
    </select>
    <div *ngIf="searchForm.get('category')?.invalid && (searchForm.get('category')?.touched || searchForm.get('category')?.dirty)" class="error">
      Please select a category.
    </div>

    <input
      type="search"
      formControlName="searchTerm"
      placeholder="Search"
      required
    />
    <div *ngIf="searchForm.get('searchTerm')?.invalid && (searchForm.get('searchTerm')?.touched || searchForm.get('searchTerm')?.dirty)" class="error">
      Search term is required.
    </div>

    <button type="submit" [disabled]="searchForm.invalid">Search</button>
  </form>

  <div class="book-grid" *ngIf="books && books.length > 0; else noBooks">
    <!-- books -->
    <span>test</span>
  </div>

  <ng-template #noBooks>
    <div class="empty-state">No books found.</div>
  </ng-template>
</section>
