<section class="catalog-page">
  <h1>Catalog</h1>

  <form [formGroup]="searchForm" class="books-search-form">
    <div class="main-content">

      <div class="field-group">
        <select formControlName="category">
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="genre">Genre</option>
          <option value="publicationYear">Publication Year</option>
          <option value="pages">Number of Pages</option>
        </select>
      </div>

      <div class="field-group">
        <input type="search" formControlName="searchTerm" placeholder="Search..." />
      </div>

    </div>
  </form>

  <div class="book-grid" *ngIf="books && books.length > 0; else noBooks">
    <app-book-details-card *ngFor="let book of books" [book]="book" (bookDeleted)="onBookDeleted($event)">
    </app-book-details-card>
  </div>

  <ng-template #noBooks>
    <div class="empty-state">No books found.</div>
  </ng-template>
</section>